APP_NAME=eSignature
APP_ENV=local
APP_KEY=base64:l6Ltor94oDebfQRqn0ZsjLqklZf4yg4VsxjhxKgH/OQ=
APP_DEBUG=true
APP_URL=http://localhost:8088

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

#DB Docker
DB_CONNECTION=mysql
DB_HOST=esignature-mysql
DB_PORT=3310
DB_DATABASE=esignature
DB_USERNAME=esignature
DB_PASSWORD=password


BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_CONNECTION=redis

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=esignature-redis
REDIS_PASSWORD=null
REDIS_PORT=6380

#MAIL HOG Docker
MAIL_MAILER=smtp
MAIL_HOST=esignature-mailhog
MAIL_PORT=1027
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#Docker
APP_SERVICE=esignature-php-fpm
APP_USER=sail
WWWGROUP=1000
WWWUSER=1000

FORWARD_NGINX_PORT=8088
FORWARD_DB_PORT=3310
FORWARD_MAILHOG_PORT=1027
FORWARD_MAILHOG_DASHBOARD_PORT=8027

FORWARD_REDIS_PORT=6383

ACCESS_TOKEN_EXPIRES=43200#min

#TEST
